<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Форма Логін для адмін-пеанелі</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Вхід у адмін-панель</h5>
                    <form  method="post">
                        <div class="form-group">
                            <label for="username">Користувача</label>
                            <input type="text" class="form-control" id="username" name="login" value="admin" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Увійти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
