<!-- Бічна навігаційна панель -->
<nav class="nav flex-column mt-3">
    <a class="nav-link text-light " href="/admin-panel">Home page</a>
    <a class="nav-link text-light " href="/admin-panel/products?page=1">Products</a>
    <a class="nav-link text-light" href="/admin-panel/add-product">Add products</a>
</nav>
